@import "base/index";
@import "layout/index";
@import "components/index";





.nav-bar {
  height: 65px;
  margin-bottom: 15px;
  padding: 0 10px 0 8px;
  box-shadow: 0 3px .01px #dfe1e2;
}

.navbar-right {
  float: right;
  margin-top: 5px;
  position: relative;
}

.hr-left {
  background-color:#bfc7ce;
   -webkit-transform:rotate(90deg);
   position:absolute;
   top: 16px;
   width:30px;
   height:2px;
   left:97px;
   border:2px;
}

.hr-right {
  background-color:#bfc7ce;
   -webkit-transform:rotate(90deg);
   position:absolute;
   top: 16px;
   width:30px;
   height:2px;
   left:147px;
   border:2px;
}

.main-content {
  padding: 0 8px;
}

h1 {
  font-size: 20px;
  vertical-align: middle;
  padding-top: 10px;
  color: #3e464c;
}

h5, p {
  color: #7b8b8e;
}

p {
  font-family: Arial, Helvetica, sans-serif;
}

h5 {
  margin-bottom: 1px;
}

h3 {
  color: #545e60;
  margin-top: 5px;
}

.nav-icon {
  width: 30px;
  margin-top: 3px;
}

.icon {
  width: 30px;
  margin-top: 5px;
  margin-left: 5px;
}

.book {
  margin-top: 7px;
  margin-right: 10px;
  float: left;
}

.button {
  margin-top: 50px;
  height: 50px;
  position: relative;
}

.content {
  margin: 0 30px;
}

.content .icon {
  width: 20px;
}

ul {
  list-style: none;
  color: white;
}

li {
  display: inline;
}

.circle {
  color: rgba(255, 255, 255, 0.5);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  float: left;
  margin-top: 15px;
}

.length {
  display: block;
  font-weight: bold;
  float: right;
  margin-top: 15px;
  color: #ffffff;
}

.course {
  width: 500px;
  height: 300px;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0 2px 0 #dfe1e2;
  float: left;
  margin-right: 15px;
  margin-left: 15px;
  margin-bottom: 30px;
}

.nav {
  height: 50px;
  background-color: #2c9676;
  padding: 0 30px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.icon-buttons {
  display: inline-block;
  height: 30px;
  width: 30px;
  float: right;
  padding: 6px;
  margin-bottom: 50px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}



#star {
  margin-left: 8px;
}

.button span {
  border: 2px solid #eaedef;
  border-radius: 50%;
  font-size: 12px;
}

.java {
  color: #2c9676;
}

.level {
  color: #7b8b8e;
}

.button .word {
  border-radius: 25px;
  padding: 10px;
}

.word {
  display: inline-block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.pink {
  background-color: #f092b0;
}

.purple {
  background-color: #838cc7;
}

.python {
  color: #f092b0;
}

.wp {
  color: #838cc7;
}
