.container {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.row {
  width: 100%;
}

.main-content {
  padding: 0 8px;
}

.content {
  margin: 0 30px;
}

.course {
  width: 100%;
  height: auto;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0 2px 0 #dfe1e2;
  float: left;
  margin-bottom: 30px;
  padding-bottom: 30px;

}

.course-nav {
  height: 50px;
  background-color: $primary-color;
  padding: 0 30px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin: 0;
  margin-bottom: 0;
}

.course-preview {
  height: 40vh;
  background-color: #255a7d;
  padding: 0 30px;
  margin: 0;
  margin-top: 0;
  text-align: center;
  position: relative;
}

.course-preview-info {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translateY(-50%);
}

.java {
  color: #2c9676;
}

.level {
  color: #7b8b8e;
}

.req-content {
  background-color: #f9fafa;
  padding: 1em;
  border-radius: 5px;
  padding-left: 5em;
  position: relative;
}

.req-content img.gray-book {
  position: absolute;
  top: 45%;
  left: 1.5em;
  transform: translateY(-50%);
}

.req-content img.gray-star {
  position: absolute;
  top: 45%;
  right: 1.5em;
  transform: translateY(-50%);
}

.course-progress {
  padding-left: 5em;
  position: relative;
}

.progress {
  position: absolute;
  top: 0;
  left: 0;
}

.teacher {
  width: 50px;
  height: 50px;
  float: right;
  margin-left: 10px;
  margin-bottom: 10px;
  border-radius: 50%;
}
