.nav-bar {
  height: 65px;
  margin-bottom: 15px;
  padding: 0 10px 0 8px;
  box-shadow: 0 3px .01px #dfe1e2;
}

.navbar-right {
  float: right;
  margin-top: 5px;
  position: relative;
}

.hr-left {
  background-color:#bfc7ce;
   -webkit-transform:rotate(90deg);
   position:absolute;
   top: 16px;
   width:30px;
   height:2px;
   left:97px;
   border:2px;
}

.hr-right {
  background-color:#bfc7ce;
   -webkit-transform:rotate(90deg);
   position:absolute;
   top: 16px;
   width:30px;
   height:2px;
   left:147px;
   border:2px;
}
