.library-arrow {
  transform: translateY(25%);
  margin-right: 5px;
}

span.library {
  font-size: 20px;
  color: #3e464c;
}

.button {
  margin: 30px 0;
  padding-bottom: 30px;
  height: 53px;
  position: relative;
  border-bottom: 2px solid #eaedef;
}

.content .icon {
  width: 20px;
}

.icon-buttons {
  // display: inline-block;
  height: 30px;
  width: 30px;
  float: right;
  padding: 6px;
  // margin-bottom: 50px;
  position: relative;
  top: 50%;
  transform: translateY(-55%);
}

#star {
  margin-left: 8px;
}

.button span {
  border: 2px solid #eaedef;
  border-radius: 50%;
  font-size: 12px;
}

.button .word {
  border-radius: 25px;
  padding: 10px;

}

.word {
  display: inline-block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  color: #255a7d;
}

.btn-resume {
  height: 50px;
  background-color: white;
  color: $primary-color;
  padding: 10px 20px;
  border-radius: 5px;
}
