.nav-icon {
  // width: 30px;
  margin-top: 5px;
}

.icon {
  width: 30px;
  margin-top: -2px;
  margin-left: -2px;
}

.book {
  margin-top: 7px;
  margin-right: 10px;
  float: left;
}

.nav-circle {
  color: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  float: left;
  margin-top: 15px;
}

.circle {
  color: rgba(255, 255, 255, 0.5);
}

.length {
  display: block;
  font-weight: bold;
  float: right;
  margin-top: 15px;
  color: #ffffff;
}
